API_PORT=8080
POSTGRES_PASSWORD=
JWT_ISSUER=BankAccountManagement
JWT_AUDIENCE=BankAccountManagement.Client
JWT_SIGNING_KEY=
ADMIN_USERNAME=
ADMIN_PASSWORD=
AUTH_RATE_LIMIT_PERMIT_LIMIT=20
AUTH_RATE_LIMIT_WINDOW_SECONDS=60
